<header class="header">
    <a class="header__link {{#if isAboutPage}}active{{/if}}" href="/#/">
        About
    </a>
    <a class="header__link {{#if isQuizPage}}active{{/if}}" href="/#/quiz">
        Test
    </a>
</header>