<div class="about">
    <h1 class="page-title">Welcome!</h1>
    <p class="about__info">
        So, here is an short test application, where you can find out how smart you are.
        <br>
        Good Luck!
    </p>
    <a class="about__btn-start button" href="#/quiz" title="Click here to get started!">Let's start!</a>
</div>