<div class="wrapper">
    <h1 id="timer">00 : 00 : 000</h1>
    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="quiz">
        <h2></h2>
        <p class="score-result"></p>
        <p class="score-result italic"></p>
        <p>
            <span class="selection"></span>
            <span class="selection"></span>
            <span class="selection"></span>
            <span class="selection"></span>
        </p>
    </div>
    <div class="buttons">
        <button class="prev">Prev</button>
        <button class="reset hide">Reset</button>
    </div>
    <audio id="player" src="" ></audio>
</div>